{% extends 'extender.html' %}                           
{% load crispy_forms_tags %}
{% block content %}
<h2 class="title text-center" style = "font-family: Lato">How active have you been lately?</h2>
<p class = "text-center" style = "font-family: Lato">Log in your physical activity!</p>
                                <form method = "post">
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <p>(Duration in Minutes, Weight in kg)</p>


                                    <button class="btn btn-success" type = "submit" style="font-family: Lato;color:blue;">Add</button>
                                </form>
{% endblock %}
