{% extends 'extender.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="title text-center" style = "font-family: Lato">Your Feedback</h2>
<p class = "text-center" style = "font-family: Lato">Please fill out the given text field in not more than 140 characters, ane tell us how you feel. We look forward to any and all responses!</p>
<form method = "post">
{% csrf_token %}
{{form|crispy}}
<button class = "btn-btn success btn-danger btn-large" type = "submit" style="font-family: Lato;color:blue;">Submit Feedback</button>
</form>
{% endblock %}
