{% extends 'extender.html' %}

{% block content %}
<h2 class="title text-center">Your Fitness History</h2>
<p class="category text-center">Exercise to stimulate, not to annihilate. The world wasn't formed in a day, and neither were we. Set small goals and build upon them.
</p>
<a href = "{% url 'add_fitness' %}"><button style="padding-top: 5px;">Add a fitness activity</button></a>
<div class="content">
<div class="table-full-width">
<div class="col-sm-3">
<table class="table table-bordered " border="1">
<tr><td colspan="4">Fitness statistics!</td></tr>
<tr>
<td>Date</td>
<td>Category</td>                                                    
<td>Duration</td>                                                    
<td>Calories</td>                                                    
</tr>                                                
{% for i in fit %}
<tr>                                                
                                                    <td>{{i.created_date}}</td>
                                                    <td>{{i.category}}</td>
                                                    <td>{{i.duration}}</td>
                                                    <td>{{i.calories}}</td>
                                                </tr>
                                            {% endfor %}
</table>
                                    

                                    </div>

                            

{% endblock %}
