{% extends 'extender.html' %}                         
{% load crispy_forms_tags %}
{% block content %}
<h2 class="title text-center" style = "font-family: Lato">Add your new best-friend (ahem, Book)!</h2>
                     <p class = "text-center" style = "font-family: Lato">Issued in your interest :)</p>
                       <form method = "POST" class = "post-form">
            					{% csrf_token %}
            					{{ form|crispy}}
               					<br>
              					
        
        		    <p>(Format for Due Date: MM/DD/YYYY)</p>
            	   <button type="submit" class="save btn btn-success">Save</button>

            	
                       </form>
{% endblock %}
